/*Main Content
---------------------------------------- */
.calendar {
  width: 100%;
  margin: 0 15px 15px 0;
}

#calendarHeading {
  display: flex;
  justify-content: start;
}

h3 {
  border-right: 4px solid #457b9d;
  border-bottom: 4px solid #457b9d;
  text-align: center;
  background: #f1faee;
  padding: 10px 20px 10px 20px;
}
.leftHeader {
    border-left: 4px solid #457b9d;
} 

button {
  background-color: transparent;
  border: none;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: inherit;
}

.on {
  background-color: #457b9d;
  color: #f1faee;
}

.off {
  background-color: transparent;
  color: #1d3557;
}

/* Table
----------------------------*/
#monthView {
 display: none;
}

table {
  width: 100%;
  margin: 15px 25px 15px 0;
  box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
}

table, th, td {
 border: 1px solid;
 border-collapse: collapse;
}

.caption {
  font-size: 54px;
  font-weight: bold;
  color: #1d3557;
  text-shadow: 2px 2px;
  margin-bottom: 30px;
}
th {
 font-size: 24px; 
 background: #457b9d;
}

td {
 text-align: center;
 background: white;
}


/* Table 2
-----------------------*/
#weekView {
  display: none;
}

