/*------------------ General Styles ----------------------------#EFEDE0----#8AA899-------#40775C--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
/*------------------ Header & NavBar -----------------------------------------------*/
.header-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #EFEDE0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px 0;
}
.logo img {
    width: 400px;
    height: 125px;
}
nav {
    flex: 1;
    text-align: right;
}
.menu-items {
    display: inline-block;
    list-style-type: none;
}
.menu-items li {
    display: inline-block;
    margin-right: 20px;
}
.menu-items li a {
    text-decoration: none;
    font-size: 22px;
    color: #40775C;
}