/*------------------ General Styles ----------------------------#EFEDE0----#8AA899-------#40775C--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Rubik', sans-serif;
}
/*------------------ Header & NavBar -----------------------------------------------*/
.header {
    background: radial-gradient(#EFEDE0, #8AA899);
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px 0;
}
.logo img {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.78;
}
nav {
    flex: 1;
    text-align: right;
}
.menu-items {
    display: inline-block;
    list-style-type: none;
}
.menu-items li {
    display: inline-block;
    margin-right: 0;
}
.menu-items li a {
    text-decoration: none;
    font-size: 22px;
    color: #40775C;
    padding: 30px;
    border-radius: 45%;
}
.menu-items li a:hover {
    background-color: #EFEDE0;
    box-shadow: -3px 3px 5px 0 rgba(0,0,0,0.1);
}
/*------------------------------ Main -----------------------------------------------*/
.container {
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 49%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    border-radius: 50%;
    opacity: 0.78;
}
/*------------------ Footer -----------------------------------------------*/
.footer {
    background-color: #EFEDE0;
    color: #40775C;
    font-size: 14px;
    padding-top: 5px;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #40775C;
    margin-bottom: 0;
}
.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    margin-bottom: 10px;
}
.footer-col-1 {
    flex-basis: 25%;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 110px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.footer-col-3 {
    flex-basis: 25%;
    text-align: center;
}
ul {
    list-style-type: none;
}
.app-logo {
    margin-top: 5px;
}
.app-logo img {
    width: 140px;
}
.footer hr {
    border: none;
    background: #40775C;
    height: 2px;
    margin: 5px 0;
}
.copyright {
    text-align: center;
}
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*----------------------- floating animation for logo on homepage ----------------------*/
.floating {
    animation: floating 3s ease-in-out infinite;
}
@keyframes floating {
    0% {transform: translate(0, 0px);}
    50% {transform: translate(0, 15px);}
    100% {transform: translate(0,-0px);}
}

/*------------------ register / login main page -----------------------------------------------*/
#home-nav {
    height: 100px;
    padding-top: 20px;
    text-align: center;
}
#home-nav .menu-items li a {
    font-size: 26px;
}
.account-page {
    padding: 50px 0;
    background: radial-gradient(#EFEDE0, #8AA899);
    min-height: 800px;
}
.form-container {
    background: #EFEDE0;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #40775C;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn {
    display: inline-block;
}
.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn {
    background: #F2D349;
    color: #40775C;
    padding: 18px 36px;
    border-radius: 45%;
    border: none;
    margin-bottom: 12px;
}
form .btn:focus, form .btn:hover {  /* TODO: the focus feature is not supported by the js script for transformation, fix it! */
    outline: none;
    box-shadow: -3px 3px 5px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}
#loginForm {
    left: -300px;
}
#regForm {
    left: 0;
}
form a { 
    width: 100%;
    font-size: 12px;
    text-decoration: none;
    color: #40775C;
}
#indicator {
    width: 100px;
    border: none;
    background: #F2D349;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

/*------------------ register / login main page -----------------------------------------------*/
.recipe-page {
    padding: 0;
    background: radial-gradient(#EFEDE0, #8AA899);
}
.recipe-page .container {
    max-width: none;
    padding: 0;
}
.recipe-page .row {
    background-color: #EFEDE0;
    margin-bottom: 25px;
}
.recipe-col-2-header {
    width: 100%;
    text-align: center;
}
.recipe-col-2-header h3 {
    height: 100px;
    padding-top: 25px;
    font-size: 2em;
}
.recipe-page ul {
    list-style-type: none;
}
/*------------------ Schedule -----------------------------------------------*/
.schedule-page {
    background: radial-gradient(#EFEDE0, #8AA899);
}
.month-year {
    text-align: center;
    padding: 20px 0;
}
.schedule-page h3 {
    font-size: 26px;
    display: inline;
    text-align: center;
    color: black;
}
.weekdays, .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 2px solid black;
    color: black;
}
.weekdays div {
    border: 2px solid #40775C;
    height: 40px;
    text-align: center;
}
.dates div {
    border: 2px solid #40775C;
    height: 140px;
}
.dates p {
    text-align: center;
}
/*------------------ Inventory -----------------------------------------------*/
.inventory-page {
    background: radial-gradient(#EFEDE0, #40775C);
}
.table-header {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.table-header h3 {
    font-size: 32px;
}
.table-header button {
    border: none;
    padding: 20px 20px;
    background: #40775C;
    border-radius: 10%;
}
.table {
    margin: 0 15em;
}
.headings-row, .rows-ingr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1300px;
    background: radial-gradient(#EFEDE0, #40775C);
    height: 75px;
    text-align: center;
}
.headings-row .headings {
    padding: 10px 0;
}